@font-face {
  font-family: l;
  src: url(../Styling/fonts/MPLUSRounded1c-Light.ttf);
}

@font-face {
  font-family: t;
  src: url(../Styling/fonts/MPLUSRounded1c-Thin.ttf);
}

.main-container {
  height: 600px;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 900 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 229 13.7-20c13.6-20 41-60 68.3-83s54.7-29 81.8-23c27.2 6 54.2 24 81.4 35 27.1 11 54.5 15 81.8 10s54.7-19 82-10 54.7 41 82 48 54.7-11 82-16 54.7 3 81.8-1c27.2-4 54.2-20 81.4-28 27.1-8 54.5-8 81.8-8h68.3 13.7v-133h-13.7-68.3-81.8-81.4-81.8-82-82-82-81.8-81.4-81.8-68.3-13.7z' fill='%236198ff'/%3E%3Cpath d='m0 301 13.7-11c13.6-11 41-33 68.3-60s54.7-59 81.8-61c27.2-2 54.2 26 81.4 37 27.1 11 54.5 5 81.8 7s54.7 12 82 29 54.7 41 82 36 54.7-39 82-45 54.7 16 81.8 25c27.2 9 54.2 5 81.4-6 27.1-11 54.5-29 81.8-31s54.7 12 68.3 19l13.7 7v-116h-13.7-68.3c-27.3 0-54.7 0-81.8 8-27.2 8-54.2 24-81.4 28-27.1 4-54.5-4-81.8 1s-54.7 23-82 16-54.7-39-82-48-54.7 5-82 10-54.7 1-81.8-10c-27.2-11-54.2-29-81.4-35-27.1-6-54.5 0-81.8 23s-54.7 63-68.3 83l-13.7 20z' fill='%233c80ff'/%3E%3Cpath d='m0 409 13.7 8c13.6 8 41 24 68.3 17s54.7-37 81.8-46c27.2-9 54.2 3 81.4 10 27.1 7 54.5 9 81.8 8s54.7-5 82 2 54.7 25 82 27 54.7-12 82-15 54.7 5 81.8 16c27.2 11 54.2 25 81.4 17 27.1-8 54.5-38 81.8-45s54.7 9 68.3 17l13.7 8v-188l-13.7-7c-13.6-7-41-21-68.3-19s-54.7 20-81.8 31c-27.2 11-54.2 15-81.4 6-27.1-9-54.5-31-81.8-25s-54.7 40-82 45-54.7-19-82-36-54.7-27-82-29-54.7 4-81.8-7c-27.2-11-54.2-39-81.4-37-27.1 2-54.5 34-81.8 61s-54.7 49-68.3 60l-13.7 11z' fill='%2306f'/%3E%3Cpath d='m0 529 13.7 3c13.6 3 41 9 68.3 4s54.7-21 81.8-24c27.2-3 54.2 7 81.4 13 27.1 6 54.5 8 81.8 5s54.7-11 82-6 54.7 23 82 30 54.7 3 82-8 54.7-29 81.8-32c27.2-3 54.2 9 81.4 12 27.1 3 54.5-3 81.8-5s54.7 0 68.3 1l13.7 1v-92l-13.7-8c-13.6-8-41-24-68.3-17s-54.7 37-81.8 45c-27.2 8-54.2-6-81.4-17-27.1-11-54.5-19-81.8-16s-54.7 17-82 15-54.7-20-82-27-54.7-3-82-2-54.7-1-81.8-8c-27.2-7-54.2-19-81.4-10-27.1 9-54.5 39-81.8 46s-54.7-9-68.3-17l-13.7-8z' fill='%230059dd'/%3E%3Cpath d='m0 601h13.7 68.3 81.8 81.4 81.8 82 82 82 81.8 81.4 81.8 68.3 13.7v-80l-13.7-1c-13.6-1-41-3-68.3-1s-54.7 8-81.8 5c-27.2-3-54.2-15-81.4-12-27.1 3-54.5 21-81.8 32s-54.7 15-82 8-54.7-25-82-30-54.7 3-82 6-54.7 1-81.8-5c-27.2-6-54.2-16-81.4-13-27.1 3-54.5 19-81.8 24s-54.7-1-68.3-4l-13.7-3z' fill='%23004cbb'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  padding-top: 15vh;
  border-bottom: 1px solid black;

  .main-welcome {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    color: white;

    .heading {
      font-size: 3rem;
    }

    .heading-desc {
      font-size: 1.5rem;
    }
  }

  .main-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    gap: 3vh;
    align-items: center;

    .form-label {
      font-size: 2rem;
      margin: auto;
      color: white;
    }

    .main-form-button {
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      background: black;
      color: white;
      font-weight: bold;
      box-shadow: 2px 2px 10px black;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      border: none;
      padding: 10px;
      width: 75%;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: bold;

      &:focus {
        outline: none;
      }
    }
  }
}

.main-blogs {
  display: flex;
  flex-direction: column;
  height: 55vh;
  align-items: center;

  .line {
    height: 5px;
    background-color: black;
    width: 50%;
  }

  .main-blogs-heading {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    font-size: 2rem;
  }

  .blogs-item-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin-top: 10px;
    padding-bottom: 20px;
    p {
      font-family: l;
    }
  }

  .blogs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 0px;
    width: 80%;
    height: 40vh;

    .blogs-item {
      padding: 15px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      transition: background-color 0.4s ease-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        cursor: pointer;
      }

      .blogs-flex {
        display: flex;
        align-items: center;
      }

      .blogs-item-title {
        font-size: 1.2rem;
      }

      .blogs-item-description {
        font-size: 0.8rem;
        font-weight: lighter;
        padding-top: 5px;
        height: 5vh;
      }

      .blogs-item-date {
        font-size: 0.8rem;
        margin-left: auto;
      }

      .blogs-item-category {
        margin-left: 10px;
        background-color: black;
        color: white;
        border-radius: 25px;
        padding: 3px 6px;
      }
    }
  }
}

.main-description {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;

  .description-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 7vh;

    .description-video {
      background-color: gray;
      height: 40vh;
      width: 35vw;
    }

    .description-points {
      font-size: 1.5rem;
      letter-spacing: 2px;
      display: flex;
      flex-direction: column;
      gap: 5vh;
    }
  }

  .description-heading {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-message {
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(0, 0, 0);

  .main-message-flex {
    display: flex;
    color: white;
    gap: 5vw;
    font-size: 1.25rem;
  }
}
