@font-face {
  font-family: l;
  src: url(../Styling/fonts/MPLUSRounded1c-Light.ttf);
}

.blog-container {
  padding-top: 6vh;
  display: flex;
  height: 150vh;

  .bionic-reading {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .blog-left {
    display: flex;
    flex-direction: column;
    width: 90%;

    .blog-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      .blog-title {
        font-size: 2rem;
        border-bottom: 2px solid black;
        padding-bottom: 5px;
        padding-top: 3vh;
      }

      #blog-content {
        width: 50%;
        padding-top: 4vh;
        font-family: l;
        line-height: 4vh;
        font-size: 1.5rem;
        word-wrap: break-word;
      }
    }

    .blog-comments {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      flex-direction: column;
      margin-top: 5vh;

      .blog-comm {
        width: 25vw;
        margin-top: 2vh;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        padding-bottom: 10px;
        border-bottom: 2px solid black;

        .blog-comm-flex {
          display: flex;
          gap: 5vw;
          align-items: center;

          .blog-comm-user {
            font-size: 1.1rem;
            background-color: black;
            color: white;
            padding: 5px;
            border-radius: 5px;
            transition: background-color 0.2s ease;

            &:hover {
              color: black;
              background-color: white;
            }
          }
          .blog-comm-date {
            font-size: 0.75rem;
            margin-left: auto;
          }
        }

        .blog-comm-text {
          padding-top: 2vh;
          padding-bottom: 2vh;
        }
      }

      .blog-comments-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 5px;

        &:hover {
          cursor: pointer;
          background-color: #f2f2f2;
          border-radius: 25px;
        }
      }
    }
  }

  .blog-right {
    border-left: 2px solid #f2f2f2;
    position: fixed;
    right: 0;
    margin-right: 10vw;
    margin-top: 7.1vh;
    padding-left: 3vw;

    .blog-desc {
      display: flex;
      flex-direction: column;
      gap: 5vh;
      font-size: 1.2rem;

      li:hover,
      a:hover {
        text-decoration: underline;
      }

      .comment-form {
        display: flex;
        flex-direction: column;

        .comment-area {
          margin: 10px 0px;
          padding: 5px 5px;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          resize: none;
          border: 2px solid black;
          font-weight: bold;
          height: 5vh;
        }

        .comment-button {
          font-size: 0.8rem;
          text-transform: uppercase;
          background: none;
          border: 2px solid black;
          width: 5vw;
          padding: 7px;
          transition: background-color 0.2s ease;
          font-weight: bold;

          &:hover {
            color: white;
            background-color: black;
          }
        }
      }
    }
  }
}
