@font-face {
  font-family: f;
  src: url(../Styling/fonts/CircularStd-Medium.ttf);
}

body {
  margin: 0;
  font-family: f, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: f, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.light-mode {
  color-scheme: light;
  background-color: white;
  color: black;
}
.dark-mode {
  /* Don't forget the color-scheme css attribute. This will avoid light scrollbars in dark mode. */
  color-scheme: dark;
  background-color: #121212;
  color: white;

  a {
    color: white;
  }

  .nav-buttons {
    .darkmode-button {
      background-color: white;
      color: black;
    }

    .bionic-reading {
      background-color: white;
      color: black;
    }
  }

  .main-blogs {
    .blogs-grid {
      .blogs-item {
        .blogs-item-category {
          background-color: white;
          color: black;
        }

        &:hover {
          border: 2px solid white;
          background-color: rgba(255, 255, 255, 0.176);
        }
      }
    }
    .line {
      background-color: white;
    }
  }

  .forum-container {
    .forum-pages {
      .page {
        color: white;
      }

      .page-arrow {
        color: white;
      }

      .activePage {
        background-color: white;
        color: black;
      }
    }

    .forum-flex {
      .filter-form {
        .filter-search {
          border-bottom: 2px solid white;
        }

        .filter-buttons {
          .clear-button {
            background-color: #25272b;
            color: white;
          }
        }
      }
    }

    .forum-header {
      .forum-heading {
        color: white;
      }
    }

    .forum-grid {
      .forum-item {
        .forum-item-category {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .create-container {
    .create-form {
      .category-input {
        color: white;
        background: none;

        &:focus {
          border-bottom: 2px solid white;
        }
      }

      .create-button {
        background-color: #25272b;
        color: white;
      }

      .create-input {
        color: white;
        background: none;

        &:focus {
          border-bottom: 2px solid white;
        }
      }
    }
  }

  .blog-container {
    .blog-left {
      .blog-text {
        .blog-title {
          border-bottom: 2px solid white;
        }
      }
      .blog-comments {
        .blog-comm {
          border-bottom: 2px solid white;
        }

        .blog-comments-heading {
          &:hover {
            background-color: white;
            color: black;
          }

          .blog-comm-flex {
            .blog-comm-user {
              background-color: white;
              color: black;
              transition: background-color 0.2s ease;

              &:hover {
                color: white;
                background-color: black;
              }
            }
          }
        }
      }
    }

    .blog-right {
      .blog-desc {
        .comment-form {
          .comment-area {
            border: 2px solid white;
          }

          .comment-button {
            border: 2px solid white;
            transition: background-color 0.2s ease;
            font-weight: bold;

            &:hover {
              color: black;
              background-color: white;
            }
          }
        }
      }
    }
  }

  .profile-container {
    .profile-left {
      .profile-flex {
        .active {
          background-color: white;
          color: black;
          border-radius: 5px;
          height: 10px;
          padding: 3px;
        }
      }

      .profile-blogs {
        .profile-blog {
          .profile-blog-flex {
            .profile-blog-category {
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
  }
}

.light-mode,
.dark-mode {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
a {
  text-decoration: none;
  color: black;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button:hover {
  cursor: pointer;
}
