@font-face {
  font-family: f;
  src: url(../Styling/fonts/CircularStd-Medium.ttf);
}

body {
  margin: 0;
  font-family: f, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: f, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.light-mode {
  color-scheme: light;
  background-color: white;
  color: black;
}
.dark-mode {
  /* Don't forget the color-scheme css attribute. This will avoid light scrollbars in dark mode. */
  color-scheme: dark;
  background-color: #2b2b2bbc;
  color: white;

  a {
    color: white;
  }

  .nav-buttons {
    .darkmode-button {
      background-color: white;
      color: black;
    }

    .bionic-reading {
      background-color: white;
      color: black;
    }
  }

  .main-blogs {
    .blogs-grid {
      .blogs-item {
        .blogs-item-category {
          background-color: white;
          color: black;
        }

        &:hover {
          border: 2px solid white;
          background-color: rgba(255, 255, 255, 0.176);
        }
      }
    }
    .line {
      background-color: white;
    }
  }

  .forum-container {
    .forum-pages {
      .page {
        color: white;
      }

      .page-arrow {
        color: white;
      }

      .activePage {
        background-color: white;
        color: black;
      }
    }

    .forum-flex {
      .filter-form {
        background-color: #25272b;
        border: 2px solid white;
        .filter-search {
          border-bottom: 2px solid white;
        }

        .filter-buttons {
          .clear-button {
            background-color: #25272b;
            color: white;
            border: 2px solid rgba(255, 255, 255, 0.598);
          }
        }
      }
    }

    .forum-header {
      .forum-heading {
        color: white;
      }
      .forum-create {
        background-color: #a3a8b24e;
      }
    }

    .forum-grid {
      .forum-item {
        color: rgba(255, 255, 255, 0.95);
        .forum-item-category {
          background-color: #a3a8b24e;
          color: rgba(255, 255, 255, 0.627);
        }
      }
    }
  }

  .create-container {
    .create-form {
      .category-input {
        color: white;
        background: none;

        &:focus {
          border-bottom: 2px solid white;
        }
      }

      .create-button {
        background-color: #25272b;
        color: white;
      }

      .create-input {
        color: white;
        background: none;

        &:focus {
          border-bottom: 2px solid white;
        }
      }
    }
  }

  .blog-container {
    .blog-left {
      .blog-text {
        .blog-title {
          border-bottom: 2px solid white;
        }
      }
      .blog-comments {
        .blog-comm {
          border-bottom: 2px solid white;
        }

        .blog-comments-heading {
          &:hover {
            background-color: white;
            color: black;
          }

          .blog-comm-flex {
            .blog-comm-user {
              background-color: white;
              color: black;
              transition: background-color 0.2s ease;

              &:hover {
                color: white;
                background-color: black;
              }
            }
          }
        }
      }
    }

    .blog-right {
      .hamburger-menu {
        .burger-line {
          background-color: white;
        }
      }
      .menu {
        background-color: black;
        .bionic-reading {
          background-color: white;
          color: black;
        }
        .comment-form {
          .comment-area {
            border: 2px solid white;
          }

          .comment-button {
            border: 2px solid white;
            transition: background-color 0.2s ease;
            font-weight: bold;

            &:hover {
              color: black;
              background-color: white;
            }
          }
        }
      }
    }
  }

  .profile-container {
    .profile-left {
      .profile-flex {
        .active {
          background-color: white;
          color: black;
          border-radius: 5px;
          height: 10px;
          padding: 3px;
        }
      }

      .profile-blogs {
        .profile-blog {
          .profile-blog-heading {
            .profile-blog-category {
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
  }
}

.light-mode,
.dark-mode {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
a {
  text-decoration: none;
  color: black;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button:hover {
  cursor: pointer;
}

// Media Queries

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    // Home Page
    iframe {
      width: 450px;
    }
    #main-nav {
      width: 100vw;
      height: 12.5vh;
      font-size: 15px;
      #main-logo {
        font-size: 15px;
        margin-left: 5vw;
      }
      .main-right {
        .main-ref-user {
          display: none;
        }
      }
    }
    .login-form {
      width: 300px;
      height: 200px;
      margin-top: 12.5vh;
    }
    .main-container {
      width: 100vw;
      .main-form {
        width: 275px;
      }
      .main-welcome {
        margin-left: 15vw;
        .heading {
          font-size: 1.5rem;
        }
        .heading-desc {
          font-size: 17.5px;
        }
      }
    }
    .main-message {
      width: 100vw;
    }
    .main-description {
      width: 100vw;
      padding-bottom: 5vh;
      .description-heading {
        margin-top: 10vh;
      }
      .description-flex {
        .description-points {
          display: none;
          width: 35vw;
        }
      }
    }
    .main-blogs {
      width: 100vw;
      .line {
        margin-top: 15vh;
      }
      .blogs-grid {
        height: 15vh;
        width: 100vw;
        .blogs-item {
          width: 20vw;
          .blogs-item-title {
            width: 100px;
            font-size: 15px;
            padding-bottom: 5px;
          }
          .blogs-item-category {
            display: none;
          }
          .blogs-item-author {
            display: none;
          }
          .blogs-item-description {
            display: none;
          }
        }
      }
    }
    .nav-buttons {
      margin-left: 3vw;
      margin-bottom: 5vh;
      .darkmode-button {
        width: 50px;
        height: 50px;
      }
    }

    // Create Page
    .create-container {
      .create-heading {
        padding-top: 5vh;
      }
      .create-form {
        .create-input {
          width: 60vw;
        }
        .category-input {
          width: 25vw;
        }
        .create-button {
          width: 25vw;
        }
      }
    }

    // Forum Page
    .forum-container {
      width: 100vw;
      height: auto;

      .forum-header {
        .forum-create {
          width: 25vw;
          padding: 10px;
          font-size: 15px;
        }
        .forum-heading {
          margin-top: 5vh;
        }
      }
      .forum-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .forum-item {
          width: 20vw;
          p {
            font-size: 10px;
          }
          .forum-item-title {
            font-size: 15px;
            width: 100%;
          }
          .forum-item-date {
            font-size: 12.5px;
          }
          .forum-item-category {
            width: 10vw;
            height: 1vh;
            padding: 5px;
            font-size: 10px;
            text-align: center;
          }
        }
      }
      .filter-form {
        max-width: 50vw;
      }
      .forum-pages {
        margin-top: 35vh;
      }
    }

    // Profile Page
    .profile-container {
      .profile-right {
        display: none;
        .profile-full-name {
          font-size: 15px;
        }
      }
    }

    // Blog Page
    .blog-container {
      .blog-left {
        .blog-text {
          .blog-title {
            padding-top: 10vh;
          }
        }
      }
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    .login-form {
      width: 40vw;
    }

    // Home Page
    #main-nav {
      #main-logo {
        font-size: 15px;
      }
      .main-right {
        .main-ref {
          font-size: 15px;
        }
      }
    }
    .main-blogs {
      .blogs-grid {
        width: 600px;
        .blogs-item {
          .blogs-item-description {
            width: 20vw;
            padding-bottom: 10px;
            font-size: 11px;
          }
          .blogs-item-author {
            font-size: 10px;
            padding-top: 5px;
          }

          .blogs-item-date {
            font-size: 10px;
          }
        }
      }
    }
    .main-description {
      .description-flex {
        .description-points {
          li {
            font-size: 15px;
            padding-right: 25px;
          }
        }
      }
    }

    // Profile Page
    .profile-container {
      .profile-right {
        width: 7.5vw;
        .profile-full-name {
          font-size: 20px;
        }
      }
    }

    // Forum Page
    .forum-container {
      .forum-grid {
        .forum-item {
          .forum-item-title {
            font-size: 15px;
          }
          .forum-flex {
            margin-top: 3px;
            font-size: 12.5px;
          }

          .forum-item-date {
            font-size: 12.5px;
          }
        }
      }
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    // Nav
    .login-form {
      width: 30vw;
    }
    // Home Page
    .main-blogs {
      .blogs-grid {
        width: 80vw;
        .blogs-item {
          .blogs-item-description {
            width: 20vw;
            padding-bottom: 10px;
            font-size: 11px;
          }
          .blogs-item-author {
            font-size: 10px;
            padding-top: 5px;
          }

          .blogs-item-date {
            font-size: 10px;
          }
        }
      }
    }
    .main-description {
      .description-flex {
        .description-points {
          li {
            font-size: 15px;
            padding-right: 25px;
          }
        }
      }
    }

    // Profile Page
    .profile-container {
      .profile-right {
        width: 10vw;
        .profile-full-name {
          font-size: 25px;
        }
      }
    }

    // Search Container
    .forum-container {
      .filter-form {
        max-width: 22.5vw;
      }
    }

    // Forum Page
    .forum-container {
      .forum-grid {
        .forum-item {
          .forum-item-title {
            font-size: 15px;
          }
          .forum-flex {
            margin-top: 3px;
            font-size: 12.5px;
          }

          .forum-item-date {
            font-size: 12.5px;
          }
        }
      }
    }
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 15px;

    // Home Page
    .login-form {
      width: 25vw;
    }

    .main-blogs {
      .blogs-grid {
        .blogs-item {
          .blogs-item-description {
            width: 17.5vw;
            padding-bottom: 10px;
          }
          .blogs-item-author {
            font-size: 12.5px;
            padding-top: 5px;
          }
        }
      }
    }

    .main-description {
      .description-flex {
        .description-points {
          li {
            font-size: 20px;
          }
        }
      }
    }

    // Forum Page
    .forum-container {
      .filter-form {
        max-width: 22.5vw;
      }
      .forum-grid {
        .forum-item {
          .forum-item-title {
            font-size: 15px;
          }
          .forum-flex {
            margin-top: 3px;
            font-size: 12.5px;
          }

          .forum-item-date {
            font-size: 12.5px;
          }
        }
      }
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    .login-form {
      max-width: 17.5vw;
    }

    .main-blogs {
      .blogs-grid {
        .blogs-item {
          .blogs-item-description {
            padding-bottom: 0px;
          }
          .blogs-item-author {
            font-size: 12.5px;
          }
        }
      }
    }

    .forum-container {
      .forum-flex {
        .filter-form {
          max-width: 25vw;
        }
      }
    }
  }
}
