#main-nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  height: 10vh;
  width: 100vw;
  background-color: black;

  #main-logo {
    margin-left: 15vw;
    color: white;
  }
}

.main-right {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-left: auto;
  margin-right: 15vw;
  gap: 5vw;

  .main-ref {
    color: white;
    &:hover {
      transform: scale(1.2);
    }
  }
}
